<div id="main-div" class="container">
  <% if @tasks.empty? %>
  You have not added any todos yet.
  <% else %>
  <%= render 'table', tasks: @tasks %>
  <% end %>
</div>
<div class="modal fade" id="modal"></div>